@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  margin-bottom: 30px;
}

body {
  background-color: #a7adc497;
  font-family: "hanuman";
}
.scrollable-div::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the draggable part on hover */
}